@charset "uft-8";
.menu-icon {
	display:none;
}
@media screen and (max-width: 850px){
	.top-level-menu li:not(:first-child){
		display:none;
	}
	.top-level-menu li.menu-icon{
		display:list-item;
	}
	.top-level-menu.responsive li:hover > ul {
		display:none;
	}
	.top-level-menu.responsive li{
		float:none;
		display:list-item;
	}
}

